/*@font-face {
	font-family: "PoiretOne-Regular";
	src: url('../assets/PoiretOne-Regular.ttf');
}*/

/*@font-face {
	font-family: "Little days";
	src: url('../assets/Little days.ttf');
}*/

@font-face {
	font-family: "Montserrat-Regular";
	src: url('../assets/Montserrat-Regular.ttf');
}

/*@font-face {
	font-family: "PersonalUse_Monoment";
	src: url('../assets/PersonalUse_Monoment.ttf');
}*/
/*
@font-face {
	font-family: "Sabor Limited Free Version";
	src: url('../assets/Sabor Limited Free Version.ttf');
}*/

h1 {
	font-size: 50px;
	font-family:"Montserrat-Regular";
	color: #ecf0f1;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/background.png');
  background-color: #332937;
  color: #ecf0f1;
}

button {
	margin: 10px;
}

.decal {
  background-image: url('../images/square_2.png');
}

.decal img {
  opacity: 0;
  transition: 0.5s;
}

.decal:hover img {
  opacity: 1;
  transition: 0.25s;
}

.modal-body {
	text-align: center;
}

.modal-dialog,
.modal-content,
.modal-title {
	color: black;
}

.right_column {
	color: #ecf0f1;
}

.transform {

	margin-left: 550px;
	-webkit-transform-origin: -40px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

@media (max-width: 900px) {
	.transform {
	margin-left: 550px;	
	-webkit-transform-origin: -60px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
}

